<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<table border="1">

    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>LastName</th>
        <th>Age</th>
        <th>Mail</th>
    </tr>

    <tr th:each = "user : ${usersList}">
        <td th:utext ="${user.id}">
        <td th:utext="${user.name}">
        <td th:utext="${user.lastName}"/>
        <td th:utext="${user.age}"/>
        <td th:utext="${user.mail}"/>
    </tr>

</table>
</body>
</html>